{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 33vh;
    background-color: blueviolet;
}
.blue-fon {
    width: 100%;
    height: 33vh;
    background-color: blue;
}
.white-fon {
    width: 100%;
    height: 33vh;
    background-color: white;
}
.green-fon{
    width: 100%;
    height: 33vh;
    background-color: green;
}
